
main {
  border-collapse: separate;
  padding-inline-start: 1rem;
  max-width: 600px;
  border: 1px solid;
  margin: 2rem;
  display: block;
}

header {
  font-size: 1.5rem;
}

section h2 {
  border-collapse: separate;
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  width: 200px;
}

section p {
  border-collapse: separate;
  display: table-cell;
  table-layout: fixed;
  padding-inline-start: 0rem;
  padding-block-end: 2rem;
  font-size: 1rem;
  font-weight: bolder;
}

footer {
  border-collapse: separate;
  font-size: larger;
}
