
main {
  padding-inline-start: 1rem;
  max-width: 600px;
  border: 1px solid;
  margin: 2rem;
  display: block;
}

header {
  font-size: 1.5rem;
}

section h2 {
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  width: 200px;
}

section p {
  display: table-cell;
  table-layout: fixed;
  padding-inline-start: 1rem;
  padding-block-end: 2rem;
  font-size: larger;
}

footer {
  font-size: larger;
}

