[data-example="4"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-example="5"] > div {
  transform: translateY(50%);
}

[data-example="6"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
