:root {
  --padding: 1rem;
  --margin: 1rem;
  --border: solid 1rem;
  --font-size: large;
}
.example_group {
  font-size: var(--font-size);
}

[data-example="1"] {
  padding: calc(var(--padding) * 0);
  border: var(--border);
}

[data-example="1"] > article > * {
  margin-block-end: var(--margin);
}

[data-example="1"] > article > footer {
  margin-block-end: calc(var(--margin) * 0);
}

[data-example="2"] {
  padding: 0;
  border: var(--border);
}

[data-example="2"] > article {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: var(--padding);
}

[data-example="2"] > article > header {
  display: grid;
  justify-content: center;

}

[data-example="2"] > article > div {
  display: grid;
  justify-content: center;
}

[data-example="2"] > article > footer {
  display: grid;
  justify-content: center;
}

[data-example="3"] {
  /* display: flex; */
  vertical-align: middle;
  flex-direction: column;
  border: var(--border);
  padding: 0;
  align-items: center;
  margin: auto;

}
[data-example="3"] > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[data-example="3"] > article > header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--margin)
}

[data-example="3"] > article > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--margin)
}

[data-example="3"] > article > footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* [data-example="3"] > article > .content {
  margin-block-start: var(--margin);
}

[data-example="3"] > article > footer {
  margin-block-start: 1rem;
} */
