:root {
  --padding: 1rem;
  --margin: 1rem;
  --border: solid 1rem;
}

section:nth-of-type(1) .example {
  padding: calc(var(--padding) * 0);
  border: var(--border);
}

.example > article > * {
  margin-block-end: var(--margin);
}

.example > article > footer{
  margin-block-end: calc(var(--margin) *0);
}
