section:first-of-type div .container {
 width: 360px;
 height: 314px;
}

section:first-of-type div .container {
  padding-inline-end: 0rem;
 }


section:first-of-type div img {
  float: left;
}

section:first-of-type div .doctor_claw {
  float: right;
  clear: right;
  padding-inline-start: 10px;
  padding-block-end: 10px;
}

section:first-of-type div p {
  font-size: 9px;
  font-weight: bold;
}

section:first-of-type div p:nth-of-type(2) {
  padding-block-start: 84px;
}

section:first-of-type div p:last-of-type {
  margin: 0;
  padding-block-end: 84px;
}

section:first-of-type div img {
  width: 126px;
}
