:root {
  --width: 20px;
  --color: rgb(63, 63, 63);
  --conuter: item;
}

#dry .grid {
  display: inline-grid;
  grid-template-columns: repeat(10, var(--width));
}

#dry a {
  display: block;
  position: relative;
  width: var(--width);
  height: var(--width);
  background-color: var(--color);
  transition: background-color 1s;
  counter-increment: var(--conuter);
}

#dry a:hover {
  background-color: rgb(0, 0, 0);
}

#dry a::before {
  content: counter(var(--conuter));
  position: absolute;
  top: calc(var(--width) * 0);
  left: calc(var(--width) * 0);
  width: var(--width);
  text-align: center;
  font-size: calc(var(--width) / 2);
  line-height: var(--width);
  font-weight: 700;
  color: var(--color);
  transition: color 1s;
}

#dry a:hover::before {
  color: rgb(255, 255, 255);
}


