:root {
  --hue: 36deg;
  --saturation: 100%;
  --lightness: 50%;
  --alpha: 0.1;
  /*--background-color: hsla(var(--hue), var(--saturation), var(--lightness), var(--alpha));*/
}

#c_and_i .row a {
   background-color: hsla((var(--hue), var(--saturation), var(--lightness), (var(--alpha));
  }

#c_and_i .row a + a {
   background-color: hsla(calc(var(--hue) * 2), var(--saturation), var(--lightness), calc(var(--alpha) * 2));
  }

#c_and_i .row a + a + a {
   background-color: hsla(calc(var(--hue) * 3), var(--saturation), var(--lightness), calc(var(--alpha) * 3));
  }

#c_and_i .row a + a + a + a {
   background-color: hsla(calc(var(--hue) * 4), var(--saturation), var(--lightness), calc(var(--alpha) * 4));
  }

#c_and_i .row a + a + a + a + a {
   background-color: hsla(calc(var(--hue) * 5), var(--saturation), var(--lightness), calc(var(--alpha) * 5));
  }

#c_and_i .row a + a + a + a + a + a + a {
    background-color: hsla(calc(var(--hue) * 6), var(--saturation), var(--lightness), calc(var(--alpha) * 6));
   }

#c_and_i .row a + a + a + a + a + a + a {
  background-color: hsla(calc(var(--hue) * 7), var(--saturation), var(--lightness), calc(var(--alpha) * 7));
}

#c_and_i .row a + a + a + a + a + a + a +a {
  background-color: hsla(calc(var(--hue) * 8), var(--saturation), var(--lightness), calc(var(--alpha) * 8));
}

#c_and_i .row a + a + a + a + a + a + a + a + a {
  background-color: hsla(calc(var(--hue) * 9), var(--saturation), var(--lightness), calc(var(--alpha) * 9));
}

#c_and_i .row a + a + a + a + a + a + a + a + a + a {
  background-color: hsla(calc(var(--hue) * 10), var(--saturation), var(--lightness), calc(var(--alpha) * 10));
 }

/*
  … etc …

  This would get crazy if I had to write
  o
  ut each and every anchor within each row, setting the unique `hsla()` per anchor.
*/
