
.icon {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;

}

.icon_left {
  position: relative;
  display: inline-block;
  padding-inline-start: 3rem;
}

.icon_left::before {
  background-image: url(../../12-page-mockup/images/icon-facebook.png);
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  line-height: 1;
  font-size: 1rem;
  top: 50%;
  left: 0.75rem;
  margin-top: -0.75rem;
}

.icon_right {
  position: relative;
  display: inline-block;
  padding-inline-end: 3rem;
}

.icon_right::after {
  background-image: url(../../12-page-mockup/images/icon-facebook.png);
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}
