button {
  background-color: rgba(0, 119, 255, 0.664);
  width: 120px;
  height: 25px;
  margin-left: 30rem;
}

button a {
  text-decoration: none;
  color: white;
}

.button {
  margin-bottom: 1rem;
}
