
button {
  background-color: rgba(0, 119, 255, 0.664);
  width: 120px;
  height: 25px;
  margin-left: 30rem;
  border: 0;
}

button a {
  text-decoration: none;
  color: white;
}

.button {
  margin-block-start: -2rem;
  padding-block-end: 1rem;
}

