/*
body {
  width: 700px;
  height: 900px;
  border: solid 1px lightblue;
  margin: 6rem;
  box-sizing: content-box;

}

header {
  height: 300px;
  background-size: 105%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg_desktop.jpg);
  background-repeat: no-repeat;
  background-position: 1px;
  border: 1px solid lightblue;
  color: white;
}

main {
  text-align: center;
  text-decoration: none;
  border: solid 0.5px lightblue;
}

footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
*/
body > header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


main {
  text-align: center;
  text-decoration: none;
}
