
header h1 {
  margin-inline-end: 1rem;
  margin-block-end: 2.08rem;
  font-size: 1rem;
  margin-inline-start: 1.25rem;
  position: relative;
  top: -0.5rem;
}

header h1 a {
  text-decoration: none;
  color: white;
}
header h2 {
  font-size: 3rem;
}

header h2,
p {
  position: relative;
  top: 7rem;
  color: white;
}

header p {
  top: 5rem;
}
