.li {
  position: relative;
  top: -3.5rem;
  left: 11rem;
}
.li li {
  list-style: none;
  display: inline;
  text-align: center;
}

p {
  margin-block-start: 2rem;
}

.li li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.li ul {
  margin-inline-end: 1rem;
  margin-block-end: 4.08rem;
  padding: 0;
  text-align: center;
}

.li ul li:nth-of-type(2) {
  margin-inline-start: 1rem;
}

.li ul li:nth-of-type(3) {
  margin-inline-start: 1rem;
}

.li ul li:nth-of-type(4) {
  margin-inline-start: 1rem;
}


#li ul a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#li ul {
  list-style: none;
  padding: 4rem;
}

#li ul .post {
  font-size: 1rem;
}

#li ul .li-1 {
  padding-block-end: 2rem;
  border-block-end: 1px solid;
}

#li ul .li-2 {
  padding-block-start: 2rem;
}

#li ul li .problem,
.post {
  font-size: 22px;
}
