/*
.li {
  text-align: end;
  margin-block-start: -2rem;
  margin-block-end: 0;
  margin-inline-start: 0rem;
  margin-inline-end: 2rem;
  list-style-type: none;
}

.li a {
  color: white;
}

ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

nav {
  margin-inline-start: 2rem;
  margin-inline-end: 8rem;
}
*/

.li li {
  list-style: none;
  display: inline;
  text-align: center;
}

p {
  margin-block-start: 2rem;
}

.li li a {
  text-decoration: none;
  color: white;
}
.li ul {
  margin-inline-end: 1rem;
  margin-block-end: 4.08rem;
  padding: 0;
  text-align: center;
}

.li ul li:not(:first-child):not(:last-child) {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

#li ul a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

#li ul {
  list-style: none;
  margin-block-start: ;
  padding: 4rem;
}

#li ul post {
  font-size: 2rem;
}

#li ul .li-1 {
  padding-block-end: 2rem;
  border-block-end: 1px solid;
}

#li ul .li-2 {
  padding-block-start: 2rem;
}

#li ul li .problem,
.post {
  font-size: 22px;
}
