.dory {
  background-color:
}
#reef {
  background-image:
                    linear-gradient(0deg, rgba(0, 195, 255, 0.5)rgba(0, 0, 255, 0.5), rgba(255, 251, 0, 0.644)),
                    url("../images/coral-reef.png/.png");
  background-position: 0% 10%,
                        10% ;
  background-repeat
  background-size
  animation-play-state: ;
}

.henry {
  background-color
  background-image
  background-position
  background-repeat
  background-size
}

.lu-seal {
  color:  ;
  background-image
  background-position
  background-repeat
  background-size
}
