#opacity {
  /*
  Opacity is the degree of an hidden element which is used to set the lack of transparency of an element.
  */
  opacity: 1;
}

#display {
  /*
  Display  specified using keyword values.
  */
  display: table-column ;
}

.display value {
  display: inline,
           block,
           inline-block,
           none;
  /*
  - inline: the element generates one or more inline element boxes .
  - block: the element generates a block element box.
  - none: this is used to turn offefp the display if an element.
  */
}

#visibility {
  /*
  visibility is used to show or hide an element without changing the layout of a document.
  */
  visibility: visible ;
}
