#overflow_invisible .example {
  overflow: hidden;
}

#overflow_scroll .example {
  overflow: scroll;
}

#overflow_scroll .example_large {
  overflow: scroll;
}

#clipping_circle  .example {
  clip-path: circle(40% at 30% 30%);
}

#clipping_poly .example {
  overflow: visible;
  clip-path: polygon(85% 32%, 25% 32%, 93% 90%);
}



#overclip .example {
  overflow: visible;
  clip-path: circle(40% at 50% 50%);
}

#overflow_ellipsis .example {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
