.ball {
  width: 90px;
  height: 50px;
  border: 1px solid darkgray;
}

#ball {
  width: 1rem;
  height: 1rem;
  background-color: blue;
  border-radius: 1rem;
  position: absolute;
  left: 45px;
  animation-name: ball;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes ball {
  0% {

    /* top: 95px; */
  }
  25% {
    left: 80px;
    top: 95px;
    background-color: sandybrown;
  }
  50% {
    top: 115px;
    background-color: skyblue;
  }
  75% {
    left: 10px;
    top: 95px;
    background-color: springgreen;
  }
  100% {
    top: 80px;
    background-color: red;
  }
}
