section:nth-of-type(2) .container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

section:nth-of-type(2) div .container .circle:nth-of-type(1) {
  position: relative;
  top: -100px;
  left: -102px;
}

section:nth-of-type(2) div .container .circle:nth-of-type(2) {
  position: relative;
  top: -295px;
  left: 97px;
}

section:nth-of-type(2) div .container .circle:nth-of-type(3) {
  position: relative;
  top: -312px;
  left: -107px;

}

section:nth-of-type(2) div .container .circle:nth-of-type(4) {
  position: relative;
  top: -514px;
  left: 92px;
}
