section:nth-of-type(4) .container {
  height: 200px;
  position: relative;
}

section:nth-of-type(4) div .container svg {
  position: absolute;
  width: 200px;
  height: 200px;
}

section:nth-of-type(4) div .container .rect {
  z-index: 1;
}

section:nth-of-type(4) div .container .circle {
  z-index: 2;
}


section:nth-of-type(4) div .container .pipe {
  z-index: 4;
}

section:nth-of-type(4) div .container .bar {
  z-index: 3;
}

